

template(name='doc_transactions')
    .ui.header Transaction History
    .ui.items
        each transactions
            +transaction

        


template(name='transaction')
    .ui.item
        .content
                h1.ui.header #{from.username}
                h1.ui.header #{to.username}
            .meta #{when}
            .meta
                each tags
                    .ui.button.tag(class=tag_class) #{this}
            .description
                |!{description}
            if can_edit
                .edit.ui.icon.circular.basic.button
                    i.pencil.icon.icon
            else
                | by #{author.username} #{when}
            // +user_blurb