with doc
    .ui.container
        .image
            img.ui.centered.image(src="{{c.url image_id height=400 width=800 background='white' crop='lpad'}}")
        h1.ui.header #{title}
        .ui.divided.stackable.grid
            .ten.wide.column
                each tags
                    .ui.large.basic.label #{this}
                .ui.padded.basic.segment
                    |!{description}
                +doc_transactions
            .five.wide.column
                h4.ui.header Points: #{points}
                h4.ui.header Price: #{price} credits
                +buy_button
                +user_card
                if can_edit
                    a(href="/edit/#{_id}").ui.basic.button
                        i.pencil.icon
                        |Edit